<form [formGroup]="form" (ngSubmit)="save()" autocomplete="off">
  <h2 mat-dialog-title class="dialog-title">
    {{ data?._id ? 'Редагувати вакансію' : 'Нова вакансія' }}
  </h2>

  <mat-dialog-content class="content">
    <!-- Роботодавець з пошуком -->
    <mat-form-field appearance="outline" class="w-full mb-2">
      <mat-label>Роботодавець*</mat-label>
      <mat-select formControlName="employerId">
        <mat-option>
          <mat-icon>search</mat-icon>
          <input matInput placeholder="Пошук компанії" [formControl]="empSearch" />
        </mat-option>
        <mat-option *ngFor="let e of employers" [value]="e._id">{{ e.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="grid">
      <mat-form-field appearance="outline" class="col-span-2">
        <mat-label>Посада / назва вакансії*</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

      <!-- Тип діяльності з пошуком -->
      <mat-form-field appearance="outline" class="col-span-2">
        <mat-label>Тип діяльності</mat-label>
        <mat-select formControlName="activityType">
          <mat-option>
            <mat-icon>search</mat-icon>
            <input matInput placeholder="Шукати тип" [formControl]="actSearch" />
          </mat-option>
          <mat-option *ngFor="let t of activityTypes" [value]="t.name">{{ t.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Зарплата</mat-label>
        <input matInput type="number" formControlName="salary" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Статус</mat-label>
        <mat-select formControlName="status">
          <mat-option value="open">open</mat-option>
          <mat-option value="closed">closed</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Навички -->
      <div class="col-span-2">
        <label class="chips-label">Навички</label>

        <mat-chip-listbox class="mb-3">
          <mat-chip *ngFor="let s of skills" (removed)="removeSkill(s)">
            {{ s }}
            <button matChipRemove type="button" aria-label="Видалити">✕</button>
          </mat-chip>

          <input
          #skillInput
          placeholder="Додайте навичку (через Enter/кому)"
          autocomplete="off"
          (keydown.enter)="onSkillEnter($any($event))"
          (keydown)="onSkillComma($any($event))"
          (blur)="addSkillFromInput($event)"
          />


        </mat-chip-listbox>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="actions">
    <button mat-stroked-button type="button" (click)="cancel()" [disabled]="loading">
      Скасувати
    </button>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
      {{ data?._id ? 'Зберегти' : 'Створити' }}
    </button>
  </mat-dialog-actions>
</form>
